<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="arduinobot">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import arduinobot urdf file -->
    <xacro:include filename="$(find arduinobot_description)/urdf/arduinobot.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="arduinobot.ros2_control.xacro" />


    <xacro:arduinobot_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
