<launch>

  <arg name="model" default="$(find arduinobot_description)/urdf/arduinobot.urdf.xacro"/>
  <arg name="rvizconfig" default="$(find arduinobot_description)/rviz/display.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />

  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>
