<launch>
    <node pkg="rosserial_python" type="serial_node.py" name= "osservo" respawn="true" output="screen">
        <param name="port" value="/dev/ttyACM1" />
    </node>
    <node pkg="arduinobot_controller" type="request_handler.py" name="request_handler" respawn="true" output="screen">
    </node>
</launch>