<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Arm">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.00377490175092598 0.0117968193300164 0.111915553022725"
        rpy="0 0 0" />
      <mass
        value="0.0497217748522043" />
      <inertia
        ixx="2.7691005915736E-05"
        ixy="3.52926313057377E-10"
        ixz="2.67965631475746E-09"
        iyy="4.56375668926374E-05"
        iyz="1.08925829164701E-07"
        izz="2.5397344287959E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arduinobot_description/mesh/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arduinobot_description/mesh/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="base_plate">
    <inertial>
      <origin
        xyz="0.00116142218947382 -0.00160468322487546 0.0171294741997838"
        rpy="0 0 0" />
      <mass
        value="0.0611941454820564" />
      <inertia
        ixx="1.67660453906481E-05"
        ixy="1.5929220500965E-06"
        ixz="-1.10364248055523E-06"
        iyy="2.073341802689E-05"
        iyz="1.42283668093053E-06"
        izz="2.65898078238803E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arduinobot_description/mesh/base_plate.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arduinobot_description/mesh/base_plate.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="revolute">
    <origin
      xyz="-0.0038619 -0.11057 0.0294"
      rpy="0 0 -2.2386" />
    <parent
      link="base_link" />
    <child
      link="base_plate" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="vertical_arm">
    <inertial>
      <origin
        xyz="0.0348405723388961 -0.00423154458194008 -0.0011032652677013"
        rpy="0 0 0" />
      <mass
        value="0.0133698627995892" />
      <inertia
        ixx="1.05762372148649E-06"
        ixy="1.47857987933759E-07"
        ixz="2.81815236396118E-07"
        iyy="9.3919858776044E-06"
        iyz="-4.24825269290261E-09"
        izz="1.00610625979625E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arduinobot_description/mesh/vertical_arm.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arduinobot_description/mesh/vertical_arm.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="revolute">
    <origin
      xyz="0 -0.00055135 0.0348"
      rpy="0 -1.459 1.5708" />
    <parent
      link="base_plate" />
    <child
      link="vertical_arm" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="horizontal_arm">
    <inertial>
      <origin
        xyz="0.0168510107746303 0.000421573301289557 0.00127223310522308"
        rpy="0 0 0" />
      <mass
        value="0.00875620015291007" />
      <inertia
        ixx="1.9065486123571E-07"
        ixy="1.26039857027103E-07"
        ixz="-4.66456127489906E-14"
        iyy="1.18867938167217E-05"
        iyz="3.18847841534954E-14"
        izz="1.19978813137545E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arduinobot_description/mesh/horizontal_arm.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arduinobot_description/mesh/horizontal_arm.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="revolute">
    <origin
      xyz="0.079961 0 -0.0025"
      rpy="-1.5708 1.4257 -3.1416" />
    <parent
      link="vertical_arm" />
    <child
      link="horizontal_arm" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="servo_support">
    <inertial>
      <origin
        xyz="0.0270674454233878 0.0121050465286896 0.00931711214475904"
        rpy="0 0 0" />
      <mass
        value="0.014983550619918" />
      <inertia
        ixx="1.59596746361018E-06"
        ixy="-4.03239450736065E-08"
        ixz="4.04026839667081E-07"
        iyy="2.97413905056277E-06"
        iyz="1.27573344652052E-07"
        izz="2.21151715679188E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arduinobot_description/mesh/servo_support.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arduinobot_description/mesh/servo_support.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="horizontal_arm_to_servo_support"
    type="fixed">
    <origin
      xyz="0.077943 -0.016184 0.014397"
      rpy="-1.5708 0 0.25413" />
    <parent
      link="horizontal_arm" />
    <child
      link="servo_support" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="right_finger">
    <inertial>
      <origin
        xyz="-0.017019135942944 -0.00216762456526287 -0.00105049106161036"
        rpy="0 0 0" />
      <mass
        value="0.00158026885286642" />
      <inertia
        ixx="2.55248674498608E-08"
        ixy="-3.14527219767119E-08"
        ixz="1.6560415184352E-08"
        iyy="4.34820108176013E-07"
        iyz="3.82991174572884E-09"
        izz="4.48272343480474E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arduinobot_description/mesh/right_finger.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arduinobot_description/mesh/right_finger.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4"
    type="revolute">
    <origin
      xyz="0.02056 0.003575 0"
      rpy="0 0 2.9668" />
    <parent
      link="servo_support" />
    <child
      link="right_finger" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_finger">
    <inertial>
      <origin
        xyz="-0.00908172913964694 0.00186015405802328 -0.00308139331124217"
        rpy="0 0 0" />
      <mass
        value="0.00296376551202787" />
      <inertia
        ixx="6.48396795491785E-08"
        ixy="2.69355221730115E-08"
        ixz="1.54574120740096E-08"
        iyy="4.54014895034833E-07"
        iyz="-1.29196469192606E-10"
        izz="4.92424713173099E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arduinobot_description/mesh/left_finger.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arduinobot_description/mesh/left_finger.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_5"
    type="revolute">
    <origin
      xyz="0.020562 0.021677 0"
      rpy="0 0 -2.9503" />
    <parent
      link="servo_support" />
    <child
      link="left_finger" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
    <mimic
      joint="joint_4"
      multiplier="-1"
      offset="0" />
  </joint>
</robot>