<launch>
    <!-- Launch the interface with the robot -->
    <include file="$(find arduinobot_controller)/launch/controller.launch"/>

    <!-- Launch the interface with the external -->
    <include file="$(find arduinobot_remote)/launch/remote_interface.launch"/>

    <!-- Launch the kinematic module -->
    <include file="$(find arduinobot_kinematic)/launch/demo.launch"/>
</launch>