<launch>

  <!-- Launch the Gazebo simulation of the robot arm -->
  <arg name="model" default="$(find arduinobot_description)/urdf/arduinobot.urdf.xacro"/>

  <include file="$(find arduinobot_description)/launch/gazebo.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <!-- Launch the gazebo controllers -->
  <include file="$(find arduinobot_controller)/launch/fake_controller.launch"/>

  <!-- Launch moveit move_group -->
  <include file="$(find arduinobot_moveit)/launch/move_group.launch">
    <arg name="states_topic" value="arduinobot" />
  </include>

  <!-- Launch moveit rviz gui -->
  <include file="$(find arduinobot_moveit)/launch/moveit_rviz.launch">
    <arg name="config" value="true" />
  </include>

  <!-- Launch the interface with the external -->
  <include file="$(find arduinobot_remote)/launch/remote_interface.launch"/>

</launch>