<launch>
  <!-- Run the moveit simulation -->
  <include file="$(find arduinobot_moveit)/launch/demo.launch">
  </include>

  <!-- Launch the websocket server in order to receive external commands -->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
  </include>

  <!-- Launch the low level control in order to communicate with the Arduino -->
  <include file="$(find arduinobot_controller)/src/launch/arduino.launch">
  </include>

  <!-- Run the listener for the voice commands coming from external sources -->
  <node name="set_joint_goal.py" pkg="arduinobot_voice" type="set_joint_goal.py" output="screen">
  </node>

</launch>